# PostgreSQL password for CatalogDb
CATALOG_DB_PASSWORD=CHANGE_ME
# PostgreSQL password for BasketDb
BASKET_DB_PASSWORD=CHANGE_ME
# PostgreSQL password for OrderDb
ORDER_DB_PASSWORD=CHANGE_ME
# PostgreSQL password for KeycloakDb
KEYCLOAK_DB_PASSWORD=CHANGE_ME
# RabbitMQ username
RABBITMQ_USER=CHANGE_ME
# RabbitMQ password
RABBITMQ_PASS=CHANGE_ME
# Keycloak Admin Username
KC_ADMIN_USERNAME=CHANGE_ME
# Keycloak Admin Password
KC_ADMIN_PASSWORD=CHANGE_ME
# Keycloak secret for Ordering Service
KEYCLOAK_SECRET=CHANGE_ME
# Keycloak ClientID
KEYCLOAK_CLIENTID=CHANGE_ME
# Keycloak Audience
KEYCLOAK_AUDIENCE=CHANGE_ME