# PostgreSQL password for CatalogDb
CATALOG_DB_PASSWORD=CHANGE_ME
# PostgreSQL password for BasketDb
BASKET_DB_PASSWORD=CHANGE_ME
# MSSQL password for OrderDb
ORDER_DB_PASSWORD=CHANGE_ME
# PostgreSQL password for KeycloakDb
KEYCLOAK_DB_PASSWORD=CHANGE_ME
# RabbitMQ username
RABBITMQ_USER=CHANGE_ME
# RabbitMQ password
RABBITMQ_PASS=CHANGE_ME
# SEQ admin password
SEQ_ADMIN_PASS=CHANGE_ME
# Keycloak secret for Ordering Service
KEYCLOAK_SECRET=CHANGE_ME