services:
  catalogdb:
    container_name: Catalog_DB
    image: postgres

  basketdb:
    container_name: Basket_DB
    image: postgres

  orderdb:
    container_name: Order_DB
    image: mcr.microsoft.com/mssql/server:2022-latest

  keycloak-db:
    container_name: KeyCloak_DB
    image: postgres

  distributedcache:
    container_name: Redis
    image: redis

  messagebroker:
    container_name: Rabbit_MQ
    image: rabbitmq:management

  discount.seq:
    container_name: Discount_Seq
    image: datalust/seq:latest
    
  keycloak.identity:
    container_name: Keycloak
    image: quay.io/keycloak/keycloak:latest
    
  catalog.api:
    container_name: Catalog_API
    image: ${DOCKER_REGISTRY-}catalogapi
    build:
      context: .
      dockerfile: Services/Catalog.API/Dockerfile

  basket.api:
    container_name: Basket_API
    image: ${DOCKER_REGISTRY-}basketapi
    build:
      context: .
      dockerfile: Services/Basket.API/Dockerfile

  discount.grpc:
    container_name: Discount_gRPC
    image: ${DOCKER_REGISTRY-}discountgrpc
    build:
      context: .
      dockerfile: Services/Discount.Grpc/Dockerfile

  ordering.api:
    container_name: Ordering_API
    image: ${DOCKER_REGISTRY-}orderingapi
    build:
      context: .
      dockerfile: Services/Ordering/Ordering.API/Dockerfile

  yarpapigateway:
    container_name: YARP_Gateway
    image: ${DOCKER_REGISTRY-}yarpapigateway
    build:
      context: .
      dockerfile: YarpApiGateway/Dockerfile

  # shopping.web:
  #   image: ${DOCKER_REGISTRY-}shoppingweb
  #   build:
  #     context: .
  #     dockerfile: Shopping.Web/Dockerfile

volumes:
  postgres_catalog:
  postgres_basket:
  sqlserver_order:
  postgres_keycloak:
  seq-data: