{{- range .Values.apps }}
{{- if .config }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .name }}-config
  namespace: {{ $.Values.global.namespace }}
data:
  {{- range $key, $value := .config }}
  {{ $key }}: "{{ $value }}"
  {{- end }}
{{- end }}
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-config
  namespace: {{ $.Values.global.namespace }}
data:
  realm-export.json: |
    [
      {
        "realm": "eshop",
        "enabled": true,
        "registrationAllowed": true,
        "loginWithEmailAllowed": true,
        "duplicateEmailsAllowed": false,
        "resetPasswordAllowed": true,
        "verifyEmail": false,
        "clients": [
          {
            "clientId": "reactApp",
            "protocol": "openid-connect",
            "publicClient": true,
            "redirectUris": [
              "https://app.eshop.local/*"
            ],
            "webOrigins": [
              "https://app.eshop.local"
            ],
            "attributes": {
              "pkce.code.challenge.method": "S256"
            },
            "protocolMappers": [
              {
                "name": "audience mapper",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-audience-mapper",
                "consentRequired": false,
                "config": {
                  "included.client.audience": "reactApp",
                  "id.token.claim": "true",
                  "access.token.claim": "true"
                }
              }
            ]
          },
          {
            "clientId": "ordering-service",
            "protocol": "openid-connect",
            "publicClient": false,
            "clientAuthenticatorType": "client-secret",
            "secret": "DaUNH3CoWzXmuZkPMAZ4IOpiUGZ84TW0",
            "standardFlowEnabled": false,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": true,
            "redirectUris": [],
            "webOrigins": [],
            "attributes": {
              "client_credentials.use_refresh_token": "false"
            },
            "protocolMappers": [
              {
                "name": "audience mapper",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-audience-mapper",
                "consentRequired": false,
                "config": {
                  "included.client.audience": "account",
                  "id.token.claim": "true",
                  "access.token.claim": "true"
                }
              }
            ]
          }
        ],
        "users": [
          {
            "username": "testuser",
            "enabled": true,
            "emailVerified": true,
            "firstName": "Test",
            "lastName": "User",
            "email": "testuser@email.com",
            "credentials": [
              {
                "type": "password",
                "value": "testpass",
                "temporary": false
              }
            ]
          },
          {
            "username": "service-account-ordering-service",
            "enabled": true,
            "emailVerified": false,
            "firstName": "",
            "lastName": "",
            "email": "",
            "serviceAccountClientId": "ordering-service",
            "clientRoles": {
              "realm-management": [
                "view-users"
              ]
            }
          }
        ]
      }
    ]
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: yarp-config
  namespace: {{ $.Values.global.namespace }}
data:
  appsettings.Production.json: |
    {
      "ReverseProxy": {
        "Routes": {
          "catalog-route": {
            "ClusterId": "catalog-cluster",
            "Match": {
              "Path": "/catalog-service/{**catch-all}"
            },
            "Transforms": [
              {
                "PathPattern": "{**catch-all}"
              }
            ]
          },
          "basket-route": {
            "ClusterId": "basket-cluster",
            "Match": {
              "Path": "/basket-service/{**catch-all}"
            },
            "Transforms": [
              {
                "PathPattern": "{**catch-all}"
              }
            ]
          },
          "discount-route": {
            "ClusterId": "discount-cluster",
            "Match": {
              "Path": "/discount-service/{**catch-all}"
            },
            "Transforms": [
              {
                "PathPattern": "{**catch-all}"
              }
            ]
          },
          "ordering-route": {
            "ClusterId": "ordering-cluster",
            "RateLimiterPolicy": "fixed",
            "Match": {
              "Path": "/ordering-service/{**catch-all}"
            },
            "Transforms": [
              {
                "PathPattern": "{**catch-all}"
              }
            ]
          }
        },
        "Clusters": {
          "catalog-cluster": {
            "Destinations": {
              "destination1": {
                "Address": "http://catalog-clusterip"
              }
            }
          },
          "basket-cluster": {
            "Destinations": {
              "destination1": {
                "Address": "http://basket-clusterip"
              }
            }
          },
          "discount-cluster": {
            "Destinations": {
              "destination1": {
                "Address": "http://discount-clusterip"
              }
            }
          },
          "ordering-cluster": {
            "Destinations": {
              "destination1": {
                "Address": "http://ordering-clusterip"
              }
            }
          }
        }
      }
    }