{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "Database": "Data Source=discountdb.db"
  },
  "Authentication": {
    "Authority": "http://localhost:8080/realms/eshop",
    "ValidIssuer": "http://localhost:8080/realms/eshop",
    "ClientId": "eshop-client",
    "Audience": "eshop-client"
  }
}
