{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "DynamoDb": {
    "ServiceUrl": "http://localhost:8000",
    "Region": "us-east-1",
    "TableName": "Coupons",
    "CountersTableName": "Counters",
    "Seed": true,
    "AccessKeyId": "DYNAMODB",
    "SecretAccessKey": "DYNAMODB"
  },
  "Authentication": {
    "Authority": "http://localhost:8080/realms/eshop",
    "ValidIssuer": "http://localhost:8080/realms/eshop",
    "ClientId": "eshop-client",
    "Audience": "eshop-client"
  }
}
